openapi: 3.0.0
info:
  version: "1.0"
  title: OGC API - Tiles
  description: |-
    Example API Definition for OGC API - Tiles - Part 1: Core
  contact:
    name: Open Geospatial Consortium
    email: info@ogc.org
  license:
    name: OGC License
    url: http://www.opengeospatial.org/legal/
servers:
  - description: Example OGC API - Tiles server
    url: https://maps.ecere.com/ogcapi
paths:
  # Map Tiles: Data Set Tile Sets
  /map/tiles:
    $ref: "paths/tiles-core/dataset-tiles/map-tiles/pDataSetMapTileSetsList.yaml"
  /map/tiles/{tileMatrixSetId}:
    $ref: "paths/tiles-core/dataset-tiles/map-tiles/pDataSetMapTileSet.yaml"
  /map/tiles/{tileMatrixSetId}/{tileMatrix}/{tileRow}/{tileCol}:
    $ref: "paths/tiles-core/dataset-tiles/map-tiles/pDataSetMapTile.yaml"

components:
  schemas:
    # $ref: './schemas/index.yaml' # Not supported?
    # https://davidgarcia.dev/posts/how-to-split-open-api-spec-into-multiple-files/ vs.
    # https://stackoverflow.com/questions/64940379/ref-ing-multiple-files-at-the-components-schemas-top-level-in-openapi-3

    # Common - Core
    confClasses:
      $ref: "schemas/common-core/confClasses.yaml"
    link:
      $ref: "schemas/common-core/link.yaml"
    landingPage:
      $ref: "schemas/common-core/landingPage.yaml"
    exception:
      $ref: "schemas/common-core/exception.yaml"

    # Common - Geospatial Data
    collections:
      $ref: "schemas/common-geodata/collections.yaml"
    collectionInfo:
      $ref: "schemas/common-geodata/collectionInfo.yaml"
    extent:
      $ref: "schemas/common-geodata/extent.yaml"
    extent-uad:
      $ref: "schemas/common-geodata/extent-uad.yaml"
    crs:
      $ref: "schemas/common-geodata/crs.yaml"
    dataType:
      $ref: "schemas/common-geodata/dataType.yaml"
    timeStamp:
      $ref: "schemas/common-geodata/timeStamp.yaml"
    # projJSON:
    #   $ref: 'schemas/common-geodata/projJSON.yaml'
    numberReturned:
      $ref: "schemas/common-geodata/numberReturned.yaml"
    numberMatched:
      $ref: "schemas/common-geodata/numberMatched.yaml"

    # 2D Tile Matrix Set & Tile Set Metadata
    tileSet:
      $ref: "schemas/tms/tileSet.yaml"
    tileSet-item:
      $ref: "schemas/tms/tileSet-item.yaml"
    tileMatrixSet:
      $ref: "schemas/tms/tileMatrixSet.yaml"
    tileMatrixSet-item:
      $ref: "schemas/tms/tileMatrixSet-item.yaml"
    tileMatrixLimits:
      $ref: "schemas/tms/tileMatrixLimits.yaml"
    2DPoint:
      $ref: "schemas/tms/2DPoint.yaml"
    2DBoundingBox:
      $ref: "schemas/tms/2DBoundingBox.yaml"

    # GeoJSON
    FeatureCollection:
      $ref: "schemas/geojson/FeatureCollection.yaml"

    # Dynamic (or implementation-specific)
    enumeration:
      $ref: "schemas/dynamic/enumeration.yaml"

    all-collections:
      $ref: "schemas/dynamic/all-collections.yaml"
    vectorTiles-collections:
      $ref: "schemas/dynamic/vectorTiles-collections.yaml"
    coverage-collections:
      $ref: "schemas/dynamic/coverage-collections.yaml"
    styles:
      $ref: "schemas/dynamic/styles.yaml"
    tileMatrixSets:
      $ref: "schemas/dynamic/tileMatrixSets.yaml"

  parameters:
    # Common - Core
    f-metadata:
      $ref: "parameters/unspecified/f-metadata.yaml"

    # Common - Geospatial data
    collectionId-all:
      $ref: "parameters/common-geodata/collectionId-all.yaml"
    collectionId-coverage:
      $ref: "parameters/common-geodata/collectionId-coverage.yaml"
    collectionId-vectorTiles:
      $ref: "parameters/common-geodata/collectionId-vectorTiles.yaml"
    collections:
      $ref: "parameters/common-geodata/collections.yaml"
    collections-coverage:
      $ref: "parameters/common-geodata/collections-coverage.yaml"
    collections-vectorTiles:
      $ref: "parameters/common-geodata/collections-vectorTiles.yaml"
    datetime:
      $ref: "parameters/common-geodata/datetime.yaml"
    subset:
      $ref: "parameters/common-geodata/subset.yaml"

    # Common - CRS
    crs:
      $ref: "parameters/common-crs/crs.yaml"
    subset-crs:
      $ref: "parameters/common-crs/subset-crs.yaml"

    # Tiles - Core
    tileMatrix:
      $ref: "parameters/tiles-core/tileMatrix.yaml"
    tileRow:
      $ref: "parameters/tiles-core/tileRow.yaml"
    tileCol:
      $ref: "parameters/tiles-core/tileCol.yaml"

    # Tiles - Core (unspecified)
    tileMatrixSetId:
      $ref: "parameters/unspecified/tileMatrixSetId.yaml"
    f-mapTile:
      $ref: "parameters/unspecified/f-mapTile.yaml"
    f-vectorTile:
      $ref: "parameters/unspecified/f-vectorTile.yaml"
    f-coverageTile:
      $ref: "parameters/unspecified/f-coverageTile.yaml"

    # Maps - Core
    bgcolor:
      $ref: "parameters/maps-core/bgcolor.yaml"
    transparent:
      $ref: "parameters/maps-core/transparent.yaml"

    # Styles - Core
    styleId:
      $ref: "parameters/styles-core/styleId.yaml"
    styleId-collection:
      $ref: "parameters/styles-core/styleId-collection.yaml"

  responses:
    # Generic Errors
    NotFound:
      $ref: "responses/common-core/rNotFound.yaml"
    NotAcceptable:
      $ref: "responses/common-core/rNotAcceptable.yaml"
    ServerError:
      $ref: "responses/common-core/rServerError.yaml"
    InvalidParameter:
      $ref: "responses/common-core/rInvalidParameter.yaml"
    Exception:
      $ref: "responses/common-core/rException.yaml"

    # Common - Core
    LandingPage:
      $ref: "responses/common-core/rLandingPage.yaml"
    Conformance:
      $ref: "responses/common-core/rConformance.yaml"
    API:
      $ref: "responses/common-core/rAPI.yaml"

    # Dynamic enumeration of resources specific to this implementation
    Enumeration:
      $ref: "responses/dynamic/rEnumeration.yaml"

    # Common - Geospatial Data
    CollectionsList:
      $ref: "responses/common-geodata/rCollectionsList.yaml"
    Collection:
      $ref: "responses/common-geodata/rCollection.yaml"

    # Tiles - Core
    TileSetsList:
      $ref: "responses/tiles-core/rTileSetsList.yaml"
    TileSet:
      $ref: "responses/tiles-core/rTileSet.yaml"
    MapTile:
      $ref: "responses/tiles-core/rMapTile.yaml"
    CoverageTile:
      $ref: "responses/tiles-core/rCoverageTile.yaml"
    VectorTile:
      $ref: "responses/tiles-core/rVectorTile.yaml"
    EmptyTile:
      $ref: "responses/tiles-core/rEmptyTile.yaml"
    TileMatrixSetsList:
      $ref: "responses/tiles-core/rTileMatrixSetsList.yaml"
    TileMatrixSet:
      $ref: "responses/tiles-core/rTileMatrixSet.yaml"
